/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rajdhani', sans-serif;


/*Color Variables*/
$primary-color: #8252fa;
$primary-color2: #eca2f1;
$title-color: #222222;
$text-color: #777777; 


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600|Roboto:400,500,500i');


